html,
body{
    background-image: url("images/vecteezy_hexagon-abstract-green-neon-background_.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#game-intro article{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-intro h1{
    font-size: 60px;
    color: white;
    filter: drop-shadow(0.5rem 0.2rem 1rem orange);
  }

#game-intro p{
    font-size: 20px;
    width: 50%;
    text-align: center;
    line-height: 3rem;
}

#controls-info {
    position: absolute;
    top:100%;
    text-align: center;
    background-color: gray;
    font-size: 12px;
    width: 100%;
}

#game-zone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

#game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 40px;
    font-size: 40px;
    text-align: center;
}

#score-screen{
    font-size: 30px;
    background-color: gray;
    padding: 10px 0;
}


#chronometer-watch{
    font-size: 30px;
    color: red;
    background-color: black;
    padding: 10px 0;
}

.start-game-button{
    margin-left: 45%;
    background-color: orange;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    transition-duration: 0.3s;

}
.start-game-button:hover{
    background-color: #4CAF50;
    color: white;
    border-color: white;
}

.restart-game-button{
    margin-left: 45%;
    background-color: orange;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    transition-duration: 0.3s;
    margin: 20px;
}
.restart-game-button:hover{
    background-color: #4CAF50;
    color: white;
    border-color: white;
}

.on-screen{
    display: block;
}
.off-screen{
    display: none;
}