html,
body{
    background-image: url("images/vecteezy_hexagon-abstract-green-neon-background_.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#game-intro article{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-intro h1{
    font-size: 60px;
    color: white;
    filter: drop-shadow(0.5rem 0.2rem 1rem orange);
  }

#game-intro p{
    font-size: 20px;
    width: 500px;
    text-align: center;
    line-height: 3rem;
}
  

.start-game-button{
    margin-left: 45%;
    background-color: orange;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    transition-duration: 0.3s;

}
.start-game-button:hover{
    background-color: #4CAF50;
    color: white;
    border-color: white;
}
.on-screen{
    display: block;
}
.off-screen{
    display: none;
}